<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AnimeThemeX.tk - Themes from Animes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{rootURL}}apple-touch-icon.png?v=wAOz4X2G7G">
    <link rel="icon" type="image/png" sizes="32x32" href="{{rootURL}}favicon-32x32.png?v=wAOz4X2G7G">
    <link rel="icon" type="image/png" sizes="192x192" href="{{rootURL}}android-chrome-192x192.png?v=wAOz4X2G7G">
    <link rel="icon" type="image/png" sizes="16x16" href="{{rootURL}}favicon-16x16.png?v=wAOz4X2G7G">
    <link rel="manifest" href="{{rootURL}}site.webmanifest?v=wAOz4X2G7G">
    <link rel="mask-icon" href="{{rootURL}}safari-pinned-tab.svg?v=wAOz4X2G7G" color="#5bbad5">
    <link rel="shortcut icon" href="{{rootURL}}favicon.ico?v=wAOz4X2G7G">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{rootURL}}mstile-144x144.png?v=wAOz4X2G7G">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91586825-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-91586825-2');
    </script>
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-91586825-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    {{content-for "head"}}
    
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/antx.css">
    
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/antx.js"></script>

    <div id="loading" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please wait while application is loading</h5>
                </div>
                <div class="modal-body">
                    <p>Loading Data Please wait....</p>
                    <div class="progress" style="height: 30px;">
                        <div id="pgbr" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span id="current-progress"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{content-for "body-footer"}}
  </body>
</html>
