<div class="modal" id="modal_player">
    <div class="modal-dialog modal-dialog-centered player_modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{model.FullName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-player" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" {{action "downVideo"}} class="btn btn-primary">Download</button>
                <button type="button" {{action "prevTheme"}} class="btn btn-primary">&lt; Back</button>
                <button type="button" {{action "nextTheme"}} class="btn btn-primary">Next &gt;</button>
            </div>
        </div>
    </div>
</div>
