<div id="main" class="container container-body">
    <h1>Playlist Creator</h1>
    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#mal">MyAnimeList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#anilist">Anilist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kitsu">Kitsu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#seasonal">Seasonal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#collection">By Year/Decade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#serie">By Serie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#artist">By Artist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#key">Playlist Key</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#file">Playlist File</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ranks</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" data-toggle="tab" href="#top_pop">Popularity</a>
                <a class="dropdown-item" data-toggle="tab" href="#top_sc">Score</a>
                <a class="dropdown-item" data-toggle="tab" href="#top_ar">Airing</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings">Settings</a>
        </li>
    </ul>

    <div id="playlists" class="tab-content">
        <div class="tab-pane fade" id="mal"></div>
        <div class="tab-pane fade active show" id="anilist">
            <fieldset>
                <div class="form-group has-danger">
                    <input type="username" required class="form-control" autocomplete="on" id="anilist_user" placeholder="Enter Anilist Username">
                    <div class="invalid-feedback">Username invalid</div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="anilist_current" checked type="checkbox">
                        <label class="custom-control-label" for="anilist_current">Watching</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="anilist_complete" checked type="checkbox">
                        <label class="custom-control-label" for="anilist_complete">Completed</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="anilist_paused" type="checkbox">
                        <label class="custom-control-label" for="anilist_paused">Paused</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="anilist_dropped" type="checkbox">
                        <label class="custom-control-label" for="anilist_dropped">Dropped</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="anilist_planned" type="checkbox">
                        <label class="custom-control-label" for="anilist_planned">Plan to Watch</label>
                    </div>
                </div>
                <button {{action "startAnilist"}} class="btn btn-primary">Start</button>
            </fieldset>
        </div>
        <div class="tab-pane fade" id="kitsu"></div>
        <div class="tab-pane fade" id="seasonal"></div>
        <div class="tab-pane fade" id="collection"></div>
        <div class="tab-pane fade" id="serie"></div>
        <div class="tab-pane fade" id="artist"></div>
        <div class="tab-pane fade" id="top_pop"></div>
        <div class="tab-pane fade" id="top_sc"></div>
        <div class="tab-pane fade" id="top_ar"></div>
        <div class="tab-pane fade" id="key"></div>
        <div class="tab-pane fade" id="settings">
            <fieldset>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="addNSFW" checked type="checkbox">
                        <label class="custom-control-label" for="addNSFW">Include NSFW</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
        

</div>

<div id="playlist_wait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please wait while playlist is loading</h5>
            </div>
            <div class="modal-body">
                <p>Loading Playlist data...</p>
            </div>
        </div>
    </div>
</div>