<div id="main" class="container container-body">
    <div class="row">
        <div class="col">
            <h1>Playlist Index</h1>
        </div>
        <div class="col">
            <button type="button" {{action "randonize"}} class="btn btn-warning float-right">Random</button>
        </div>
    </div>
    <div class="list-group">
        {{#each pagedContent as |play id| }}
            <li class="list-group-item text-center">
                <span class="float-left">
                    {{paged pagedContent.page pagedContent.perPage id}} - {{theme-index play.Themes play.ThemeIndex}}
                </span>
                {{play.AnimeLink.AnimeName}}
                <small>({{play.AnimeLink.SeasonName}} {{play.AnimeLink.CollectionName}})</small>
                <span class="float-right">
                    <LinkTo @route="playlist.play" @models={{array (paged pagedContent.page pagedContent.perPage id) play.ThemeIndex}} class="btn btn-primary btn-sm">Play</LinkTo>
                    <button type="button" {{action "deleteIndex" (paged pagedContent.page pagedContent.perPage id)}} class="btn btn-danger btn-sm">Remove</button>
                    <div class="btn-group" role="group">
                        <button id="btnVideoSelect" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Theme</button>
                        <div class="dropdown-menu" aria-labelledby="btnVideoSelect">
                            {{#each play.Themes as |theme tid| }}
                            <a class="dropdown-item" {{action "selectTheme" (paged pagedContent.page pagedContent.perPage id) tid}} href="#">{{theme.FullName}}</a>
                            {{/each}}
                        </div>
                    </div>
                </span>
            </li>
        {{/each}}
    </div>

    {{page-numbers content=pagedContent}}
</div>