<div id="main" class="container container-body">
    <h1>Kitsu: Playlist Anime</h1>
    <fieldset>
        <div class="form-group">
            <input type="username" class="form-control" autocomplete="on" id="kitsuuser" placeholder="Enter Kitsu Username">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="st_what" checked type="checkbox">
                <label class="custom-control-label" for="st_what">Watching</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="st_com" checked type="checkbox">
                <label class="custom-control-label" for="st_com">Completed</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="st_hold" type="checkbox">
                <label class="custom-control-label" for="st_hold">On Hold</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="st_drop" type="checkbox">
                <label class="custom-control-label" for="st_drop">Droped</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="st_plwh" type="checkbox">
                <label class="custom-control-label" for="st_plwh">Plan to Watch</label>
            </div>
        </div>
        <button {{action "startPlaylist"}} class="btn btn-primary">Start</button>
    </fieldset>
</div>

<div id="playlist_wait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please wait while playlist is loading</h5>
            </div>
            <div class="modal-body">
                <p>Loading Playlist data...</p>
            </div>
        </div>
    </div>
</div>