<div id="main">
    <div class="playlist_topbar">
        <div id="topbar" class="topbar">
            Playing 0/29 - OP "" - Serie Name (Summer 8888)
        </div>
    </div>
    <div class="row" style="margin: 0%;">
        <div id="player_col" class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding: 0;">
            <video id="player" class="player-playlist" controls autoplay playsinline controls></video>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="padding: 0; possition: relative;">
            <ul class="list-group playlist_listgroup">
                <li class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Playing now</h5>
                    </div>
                    <h4 id="currentPlaying"></h4>
                    <p id="currentPlaying_SerieName" class="mb-1">{{model.currentAnime.AnimeLink.AnimeName}}</p>
                    <small id="currentPlaying_Info">{{model.currentAnime.AnimeLink.SeasonName}} {{model.currentAnime.AnimeLink.CollectionName}}</small>
                </li>
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Next Video</h5>
                    </div>
                    <h4 id="nextPlaying"></h4>
                    <p id="nextPlaying_SerieName" class="mb-1"></p>
                    <small id="nextPlaying_Info"></small>
                </li>
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Later</h5>
                    </div>
                    <h4 id="laterPlaying"></h4>
                    <p id="laterPlaying_SerieName" class="mb-1"></p>
                    <small id="laterPlaying_Info"></small>
                </li>
            </ul>
            <div class="playlist_buttombar">
                <div class="btn-group btn-group-justified" role="group" style="width: 100%;">
                    <button id="btn_prev" {{action "prevAnime"}} type="button" class="btn btn-secondary">&lt;&lt;</button>
                    <button id="btn_prevTheme" {{action "prevTheme"}} type="button" class="btn btn-secondary">&lt;</button>
                    <div class="btn-group" role="group">
                        <button id="btnVideoSelect" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Videos</button>
                        <div class="dropdown-menu" aria-labelledby="btnVideoSelect">
                            {{#each model.currentAnime.Themes as |theme id| }}
                            <a class="dropdown-item"{{action "switchTheme" id}} href="#">{{theme.FullName}}</a>
                            {{/each}}
                        </div>
                    </div>
                    <button type="button" {{action "downVideo"}} class="btn btn-secondary">Download</button>
                    <button id="btn_nextTheme" {{action "nextTheme"}} type="button" class="btn btn-secondary">&gt;</button>
                    <button id="btn_next" {{action "nextAnime"}} type="button" class="btn btn-secondary">&gt;&gt;</button>
                </div>
                <div class="btn-group btn-group-justified" role="group" style="width: 100%;">
                    <button {{action "randomPlaylist"}} type="button" class="btn btn-warning">Random</button>
                    <div class="btn-group" role="group">
                        <button id="btnLinkSelect" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</button>
                        <div class="dropdown-menu" aria-labelledby="btnLinkSelect">
                            <a class="dropdown-item disabled" id="btn_mal" href="#">MyAnimeList</a>
                            <a class="dropdown-item disabled" id="btn_kitsu" href="#">Kitsu</a>
                            <a class="dropdown-item disabled" id="btn_anilist" href="#">Anilist</a>
                        </div>
                    </div>
                    <button id="btn_allthemes" {{action "togglePassAllThemes"}} type="button" class="btn btn-success">Per Theme</button>
                    <button id="btn_repeat" {{action "toggleRepeat"}} type="button" class="btn btn-success">Repeat</button>
                </div>
                <div class="btn-group btn-group-justified" role="group" style="width: 100%;">
                    {{#link-to "playlist" class="btn btn-info" role="button"}}Main Menu{{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>