<div id="main" class="container container-body">
    <h1>Random Play</h1>
    <fieldset>
        <div class="form-group">
            <input type="number" class="form-control" id="nums" min="3" max="500" placeholder="100">
        </div>
        <button {{action "startPlaylist"}} class="btn btn-primary">Start</button>
    </fieldset>
</div>

<div id="playlist_wait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please wait while playlist is loading</h5>
            </div>
            <div class="modal-body">
                <p>Loading Playlist data...</p>
            </div>
        </div>
    </div>
</div>