<div id="main" class="container container-body">
    <h1>Playlist by Year</h1>
    <fieldset>
        <fieldset>
            <div class="form-group">
                <label for="year_yplaylist_select">Years and Decades:</label>
                <select class="custom-select" id="year_yplaylist_select" name="year">
                    
                </select>
            </div>
            <button {{action "startPlaylist"}} class="btn btn-primary">Start</button>
        </fieldset>
    </fieldset>
</div>

<div id="playlist_wait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please wait while playlist is loading</h5>
            </div>
            <div class="modal-body">
                <p>Loading Playlist data...</p>
            </div>
        </div>
    </div>
</div>