// Footer ==========================================================================
html, body {
	margin:0;
	padding:0;
	height: 100%;
	min-width: 275px;
}

body {
	min-height:100%;
	position:relative;
}

.ember-view, .wrapper {
	.btn {
		min-height: auto;
	}
	min-height:100%;
	position:relative;
}

.playlist-poster {
	width: 90px;
}

#content {
	padding-bottom: 3.93vh; /* must be same height as the footer */
}

.container-body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.site-footer {
	position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	/*margin-top: 3rem;*/
	background: #2a2c36;
	color: #fff;
	font-weight: 300;
	/*padding: 40px 0 0 0*/
	max-height: 3.93vh;
}

.copyright {
	background: #262730;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
	margin-top: 0px;
}
// Anime ==============================================================

.jumbotron_anime {
	height: 50vh;
}

.poster_anime {
	margin-top: -140px;
	max-width: 220px;
	align-self: center;
}

.synopsis_anime {
	padding: 30px;
}

.theme_anime {
	padding: 30px;
}

// Theme ===============================================================
.player_modal {
	min-width: 80vw;
	height: 80vh;
}

.player-theme {
	// Navbar - 3.9288361749444034vh and Footer - 3.9288361749444034vh
	width: 100%;
	height: 72.1423276501vh;
	max-width: 100%;
	video {
		height: 72.1423276501vh;
	}
}
.plyr--video {
    // Menu open
    &.plyr--menu-open {
        overflow: hidden !important;
    }
}


// Playlist ============================================================
.player-playlist {
	width: 100%;
	height: 79.9vh;
	max-width: 100%;
	video {
		height: 79.9vh;
	}
}

//  -- Top Bar
.playlist_topbar {
	position: block !important;
	left:0;
	width: 100%;
	background: #2d3247;
	color: #fff;
	font-weight: 300;
}

.playlist_buttombar {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 110px;
}

.playlist_listgroup {
	padding-bottom: 110px;
}

.topbar {
	background: #2d3247;
	color: #fff;
	text-align: left;
	padding: 1rem;
	margin-top: 0px;
}

.btn-group-justified {
	display: flex;
	width: 100%;
	.btn,
	.btn-group {
	  	flex: 1;
		.btn {
			width: 100%;
		}
		.dropdown-menu {
			left: auto;
		}
	}
}

.custom-select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.serie {
	margin-bottom: 30px;
}

.seriecard {
	img {
		height: auto; 
		margin: auto; 
		width: 120px; 
		display: block;
	}
}
