@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Thin.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Thin.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Thin.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Light.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Light.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Light.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Regular.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Regular.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Regular.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Medium.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Medium.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Medium.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiBold.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Bold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Bold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Bold.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraBold.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Black.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Black.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Black.woff2') format('woff2');
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
}

/* SemiCondensed Stretch ================================================================ */

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedThin.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedThin.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedThin.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraLight.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedLight.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensed.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensed.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensed.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedMedium.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedMedium.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedMedium.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedSemiBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedSemiBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedSemiBold.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBold.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedExtraBold.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBlack.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBlack.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-SemiCondensedBlack.woff2') format('woff2');
    font-stretch: semi-condensed;
    font-style: normal;
    font-weight: 900;
}

/* Condensed Stretch ================================================================ */

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedThin.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedThin.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedThin.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedExtraLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedExtraLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedExtraLight.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedLight.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-Condensed.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-Condensed.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-Condensed.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedMedium.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedMedium.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedMedium.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedSemiBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedSemiBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedSemiBold.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedBold.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedExtraBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedExtraBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedExtraBold.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-CondensedBlack.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedBlack.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-CondensedBlack.woff2') format('woff2');
    font-stretch: condensed;
    font-style: normal;
    font-weight: 900;
}

/* ExtraCondensed Stretch ================================================================ */

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedThin.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedThin.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedThin.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraLight.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedLight.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedLight.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedLight.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensed.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensed.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensed.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedMedium.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedMedium.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedMedium.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedSemiBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedSemiBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedSemiBold.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBold.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraBold.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraBold.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedExtraBold.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBlack.otf') format('opentype'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBlack.woff') format('woff'),
         url('/assets/fonts/NotoSans/NotoSans-ExtraCondensedBlack.woff2') format('woff2');
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 900;
}