<div id="main" class="container container-body">
    <h1>Top Score</h1>
    <div class="list-group">
    {{#each model as |objR id| }}
        {{#link-to "anime" objR.Anime.AnimeID class="list-group-item list-group-item-action"}}{{objR.Rank}}º {{objR.Anime.AnimeName}}{{/link-to}}
    {{/each}}
    </div>
</div>