<div id="main" class="container container-body">
    <h1>Serie List: {{model.SeasonName}}</h1>
    <div class="list-group">
        {{#each-in model.Animes as |name anime| }}
            {{#link-to "anime" name class="list-group-item list-group-item-action"}}
                {{anime.AnimeLink.AnimeName}}
            {{/link-to}}
        {{/each-in}}
    </div>
</div>