<footer id="footer" class="site-footer">
    <div class="copyright">
        <div class="container">
            Website created by TFSThiagoBR98. Videos provided by <a href="https://animethemes.moe/">/r/AnimeThemes</a> Version: <a id="ver" href="https://gitlab.com/TFSThiagoBR98/Antx">VER</a>
        </div>
    </div>
</footer>