<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        AnimeThemeX
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nvb" aria-controls="nvb" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="nvb">
        <ul id="menus" class="navbar-nav mr-auto">
            <li class="nav-item">
                {{#link-to "index" class="nav-link"}}Home{{/link-to}}
            </li>

            <li class="nav-item">
                {{#link-to "catalogs" class="nav-link"}}Catalog{{/link-to}}
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ranks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    {{#link-to "rank.popularity" class="dropdown-item"}}Top Popularity{{/link-to}}
                    {{#link-to "rank.score" class="dropdown-item"}}Top Score{{/link-to}}
                    {{#link-to "rank.airing" class="dropdown-item"}}Top Airing{{/link-to}}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Playlists
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    {{#link-to "playlist.mal" class="dropdown-item"}}MyAnimeList{{/link-to}}
                    {{#link-to "playlist.kitsu" class="dropdown-item"}}Kitsu{{/link-to}}
                    {{#link-to "playlist.anilist" class="dropdown-item"}}AniList{{/link-to}}
                    <div class="dropdown-divider"></div>
                    {{#link-to "playlist.season" class="dropdown-item"}}By Season{{/link-to}}
                    {{#link-to "playlist.year" class="dropdown-item"}}By Collection{{/link-to}}
                    {{#link-to "playlist.random" class="dropdown-item"}}Random Play{{/link-to}}
                    <div class="dropdown-divider"></div>
                    {{#link-to "playlist.rank.popularity" class="dropdown-item"}}Most Popular{{/link-to}}
                    {{#link-to "playlist.rank.score" class="dropdown-item"}}Top Score{{/link-to}}
                    {{#link-to "playlist.rank.airing" class="dropdown-item"}}Top Airing{{/link-to}}
                </div>
            </li>
            <li class="nav-item">
                
            </li>
        </ul>
        {{#search-form}}{{/search-form}}
    </div>
</nav>