<div class="jumbotron jumbotron_anime" style="background-image: url('/assets/images/common.jpg'); background-size: cover;}"></div>
<div id="main" class="container container-body">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 align-self-center text-center">
            <img src="{{model.PosterLink}}" class="poster_anime"/>
        </div>
        <div class="col">
            <h1>{{model.AnimeLink.AnimeName}}</h1>
            <h5>{{model.AnimeLink.SeasonName}} {{model.AnimeLink.CollectionName}}</h5>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Source">
        <a role="button" id="btn_mal" class="btn btn-primary">MyAnimeList</a>
        <a role="button" id="btn_kitsu" class="btn btn-danger disabled" href="#">Kitsu</a>
        <a role="button" id="btn_anilist" class="btn btn-warning disabled" href="#">Anilist</a>
    </div>
    <div class="theme_anime">
        <h1>Themes</h1>
        <div class="list-group">
            {{#each model.Themes as |theme id| }}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{theme.FullName}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{theme.ThemeType}}</h6>
                        {{#link-to "anime.theme" id class="card-link"}}Play{{/link-to}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    {{outlet}}
</div>