<div id="main" class="container container-body">
    <h1>Collections</h1>
    <div class="row justify-content-center">
        {{#each-in model as |key value| }}
        <div class="col-sm-10 col-md-10 col-lg-4 col-xl-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                <div class="card-header">{{value.CollectionName}}</div>
                <div class="card-body">
                    {{#each-in value.Seasons as |seasonType season| }}
                    <div class="list-group">
                        {{#link-to "catalog.season" value.CollectionName seasonType class="list-group-item list-group-item-action"}}{{season.SeasonName}}{{/link-to}}
                    </div>
                    {{/each-in}}
                </div>
            </div>
        </div>
        {{/each-in}}
    </div>
</div>