<div class="jumbotron">
    <h1>AnimeThemeX</h1>
    <p class="lead">A simple and consistent interface for /r/AnimeThemes repository for anime opening and ending themes</p>
</div>
<div id="main" class="container container-body">

</div>

{{outlet}}