<div id="main" class="container container-body">
    <h1 id="resultTitle">Search: {{model.queryString}}</h1>
    <div class="list-group" id="results">
        {{#each model.results as |result id| }}
            {{#link-to "anime" result.animeid class="list-group-item list-group-item-action"}}
                {{result.name}}
            {{/link-to}}
        {{/each}}
    </div>
</div>