<div id="main" class="container container-body">
    <h1>Top Airing</h1>
    <p>Nothing to do, just start</p>
    <fieldset>
        <button {{action "startPlaylist"}} class="btn btn-primary">Start</button>
    </fieldset>
</div>

<div id="playlist_wait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please wait while playlist is loading</h5>
            </div>
            <div class="modal-body">
                <p>Loading Playlist data...</p>
            </div>
        </div>
    </div>
</div>