<div>
    <ul class="pagination">
        {{#if canStepBackward}}
        <li class="page-item">
            <a class="page-link" {{action "incrementPage" -1}} href="#">&laquo;</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" {{action "incrementPage" -1}} href="#">&laquo;</a>
        </li>
        {{/if}}

        {{#each pageItems as |item|}}
        {{#if item.dots}}
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {{/if}}
        
        {{#if item.current}}
        <li class="page-item active">
            <a class="page-link">{{item.page}}</a>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="#" {{action "pageClicked" item.page}}>{{item.page}}</a>
        </li>
        {{/if}}
        {{/each}}

        {{#if canStepForward}}
        <li class="page-item">
            <a class="page-link" href="#" {{action "incrementPage" 1}}>&raquo;</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" {{action "incrementPage" 1}}>&raquo;</a>
        </li>
        {{/if}}
    </ul>
</div>
