<div class="form-inline my-2 my-lg-0">
    {{input name="query" id="query" type="text" placeholder="Search" insert-newline=(action "insertNewline") class="form-control mr-sm-2" }}
    <button id="searchSubmit" class="btn btn-primary my-2 my-sm-0" {{action "searcher"}}>Search</button>
</div>